.logo1{
    background: white !important; 
    padding: 5% !important;
    border-radius: 25px;
}

.cabeza>li>a{
    font-size: 10px !important;
    text-align: center;
}

.sub>li>a:hover{
    background-color: #0c787a !important;
}
